#loader-wrapper .loader-section {
    position: absolute;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}

#map {
height: 95%;
width: 85%;
background-image: url('https://s-media-cache-ak0.pinimg.com/originals/3c/0f/97/3c0f979d8a13c006740865970408f2b2.jpg');
background-size: 100% 100%;
display: inline-block;  
}

#map_graph {
position: relative;
top: 20%;
left: 30%;
height: 70%;
width: 60%;
} 


#map_graph tspan {
background-color: white;
font-size: 14pt;
}

#inventory {
float: right;
width: 14%; 
vertical-align: top;
display: inline-block;  
}

.img_thumbnail {position: relative; overflow: hidden; max-width: 190px; margin-bottom:10px; opacity:0.8; }
.inventory_img { max-width: 100%; }
.lightbox_full_img .featherlight-content { height:70%; overflow: hidden; }

ellipse {
cursor: pointer !important;
}

ellipse .noclick {
cursor: wait !important;
}