
.quest {
max-width: 100%;
}

.quest_choice {
margin: 10px;
cursor: pointer;
border: solid black;
padding: 5px;
}

.quest_text {
margin: 10px;
margin-top: 20px;
margin-bottom: 20px;
}

.quest_picture_block {
max-height: 60%;
height: 50%;
}

.quest_picture {
max-width:100%;
max-height:100%;
display: block;
margin:0 auto;
height: auto;
width:auto;
}

.featherlight-content {
width:60%;
}