#map {
height: 95%;
width: 85%;
background-image: url('http://media-cache-ak0.pinimg.com/originals/e8/c0/03/e8c0030239f5e08c33145a35659372f0.jpg');
background-size: 100% 100%;
display: inline-block;  
}